technologies/n8n/workflows/Merge_Workflow.json
{
  "name": "Merge Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -96
      ],
      "id": "72b0005e-01d4-44a5-8cfd-732dbb73a43e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAllPeople"
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        -352,
        -128
      ],
      "id": "dc52c263-ce1d-46e1-8393-8d731eefc525",
      "name": "Customer Datastore (n8n training)"
    },
    {
      "parameters": {
        "jsCode": "let customers = $input.all();\n\nlet customersCountries = [\n  {\n    json:{\n      name: customers[0].json.name,\n      language: 'English',\n      country: {\n        name: 'United States',\n        code: customers[0].json.country\n      }\n    }\n  }, {\n    json:{\n      name: customers[1].json.name,\n      language: 'Spanish',\n      country: {\n        name: 'Colombia',\n        code: customers[1].json.country\n      }\n    }\n  }\n]\n\nreturn customersCountries"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        96
      ],
      "id": "9e2d11ff-447b-44e7-9cc4-7c9007272348",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        -16
      ],
      "id": "e67b2844-bc09-499c-9d80-5451f70a7ee5",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Customer Datastore (n8n training)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Datastore (n8n training)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "420c1982-68fa-433e-b9c1-75cdcc94fd5a",
  "meta": {
    "instanceId": "ba6a365dd81340153a7cbf8eb27dfba8501b942cc93a3384909e1d9344252c0b"
  },
  "id": "pqVnRz6Yr1NIbdnQ",
  "tags": []
}