technologies/n8n/workflows/Nathan_workflow.json
{
  "name": "Nathan's workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "492e623208ce88301ca41b0d4d843f0b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1120,
        -320
      ],
      "id": "2d57a3db-c4de-4cf8-86c7-72832616d469",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9Ix5LTHItaEt9V1s",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appxVJJjUTWgMY0MY",
          "mode": "list",
          "cachedResultName": "Beginner_course",
          "cachedResultUrl": "https://airtable.com/appxVJJjUTWgMY0MY"
        },
        "table": {
          "__rl": true,
          "value": "tblkrT9huFCOznaGQ",
          "mode": "list",
          "cachedResultName": "processingOrders",
          "cachedResultUrl": "https://airtable.com/appxVJJjUTWgMY0MY/tblkrT9huFCOznaGQ"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -448,
        -192
      ],
      "id": "184b2183-9133-4d8f-a95a-a057dd274e7a",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "SYiNS1Qdk6JjRZVY",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2298f85-eae6-417a-a3a1-1f09b70192b4",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "47848822-ad18-4751-8e7c-f04f9a46e1e1",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -928,
        -320
      ],
      "id": "c9a59709-2163-477b-8229-5964d723f3f3",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d065c57-1b89-4867-8808-cb3a63afd287",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "number"
            },
            {
              "id": "a9539ca5-d24d-4ed6-8122-e02ccf7de27b",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        -368
      ],
      "id": "3dcb40ed-600a-4d0a-b663-ce808fe5ba90",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "let item = $input.all()\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i< items.length; i++){\n  bookedSum = bookedSum+ items[i].json.orderPrice;\n}\n\nreturn [{\n  json: {totalBooked, bookedSum}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        -16
      ],
      "id": "d3198c4b-d3b5-484b-b6a5-298783634a38",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1328,
        -304
      ],
      "id": "245f0af5-a836-4ed3-9169-15927918b6cb",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dd5b0a8b-2a8a-4c3f-9e6e-2e75b6e910ff",
  "meta": {
    "instanceId": "ba6a365dd81340153a7cbf8eb27dfba8501b942cc93a3384909e1d9344252c0b"
  },
  "id": "3Tw6UGJVGm4ntMYU",
  "tags": []
}